* {
	margin:0 ;
	padding: 0;
	box-sizing: border-box;
}

.container {
	border: 2px solid red;
	margin: 5px;
	

}

.box1 {	

	border: 1px solid black;
	margin: 5px;
	/*padding: 5px;*/
	float: left;}
	

.box2 {

	border: 1px solid black;
	margin: 5px;
	padding: 5px;

}